.container{
    display: flex;
    margin-bottom: 50px;
}
.homedescription{
    height: 450px;
    width:50%;
    margin-top: 8%;
}
.Bannerimage{
    margin-top: 5%;
    width:50%;
} 
.Bannerimage>img{
    height: 450px;
    width: 450px;
    margin-left: 13%;
} 
h1{
    font-size: 40px;
}
.hello{
    display: inline;
    font-family: 'Ubuntu',sans-serif ;
    font-weight: 300;
}

.myname{
    display: inline;
    font-family: 'Ubuntu',sans-serif ;
}

.frontend{
    display: inline;
    font-family: 'Ubuntu',sans-serif ;
    
}

.Developer{
    display: inline;
    font-family: 'Ubuntu',sans-serif ;
    -webkit-text-stroke-width: 2px;   
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color:white;
}

.based{
    display: inline;
    font-family: 'Ubuntu',sans-serif ;
    font-weight: 300;
}

.india{
    display: inline;
    font-family: 'Ubuntu',sans-serif ;
}
.content>p{
    margin-top: 30px;
    font-family: 'Ubuntu',sans-serif ;
    font-weight: 300;
    margin-bottom: 8%;
}


@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .homedescription {
        width: 50%;
        margin-top: 8%;
        margin-left: 8%;
    }

    .Bannerimage > img {
        height: 450px;
        width: 450px;
    }
    
}