.image> img{
    height:450px;
    width: 450px;
}
.divcontainer{
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: black;
    color: white;
}
.Content{
    margin-left: 50px;
    font-family: 'Ubuntu',sans-serif ;
}
.heading{
    margin-top: 10px;
}
.about{
    display: inline;
    font-weight: 300;
}
.me{
    display: inline;
}
.para{
    margin-top: 30px;
    font-weight: 300;
    font-size: 15px;
}